<footer class="footer">

    <div class="container">

        <div class="footer-container">

            <div>

                <a href="/">
                    <img class="logo" src="./images/logo.svg" alt="logo">
                </a>
                <p>JLT, Dubai, United Arab Emirates</p>
                <p>All Rights Reserved @2020</p>

            </div>

            <nav class="navigation">
                <ul class="nav-items">
                    <li><a class="services-link" href="#">Services</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>

        </div>

    </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>