<footer class="footer">

    <div class="container">

        <div class="footer-container">

            <div>

                <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="234" height="37" viewBox="0 0 234 37">
                    <text id="Logo" transform="translate(0 29)" fill="#44bd32" font-size="30" font-family="Montserrat-ExtraBold, Montserrat" font-weight="800"><tspan x="0" y="0">&lt;</tspan><tspan y="0" fill="#fff">/</tspan><tspan y="0">&gt;</tspan><tspan y="0" fill="#707070" font-family="Montserrat-Regular, Montserrat" font-weight="400"> </tspan><tspan y="0" fill="#fff" font-family="Montserrat-SemiBold, Montserrat" font-weight="600">rhymecode</tspan></text>
                </svg>
                  
                
                <p>JLT, Dubai, United Arab Emirates</p>
                <p>All Rights Reserved @2020</p>

            </div>

            <nav class="navigation">
                <ul class="nav-items">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#informative">Services</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>

        </div>

    </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>