<footer class="footer">

    <div class="container footer-container">

        <div>
            <img src="./Images/logo.svg" alt="rhymecode logo" class="logo">
            <p>JLT, Dubai, United Arab Emirates</p>
            <p>All Rights Reserved @2020</p>
        </div>

        <nav class="navigation hide-mobile">
            <ul>
                <li><a href="#">Services</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>

    </div>
</footer>

<script src="./main.js"></script>
</body>
</html>