<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rhymecode</title>
    <link rel="stylesheet" href="css/dist/style.css">
    <link rel="icon" href="./images/favicon.png">
    <link rel="apple-touch-icon" href="./images/favicon-ios.png">
</head>
<body>

    <header>

        <div class="container">

            <div class="nav-wrapper">

                <img class="logo" src="./images/logo.svg" alt="logo">
                <!-- <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="229" height="37" viewBox="0 0 229 37">
                    <text id="Logo" transform="translate(0 29)" fill="#44bd32" font-size="30" font-family="Montserrat-ExtraBold, Montserrat" font-weight="800"><tspan x="0" y="0">&lt;</tspan><tspan y="0" fill="#fff">/</tspan><tspan y="0">&gt;</tspan><tspan y="0" fill="#707070" font-family="Montserrat-Regular, Montserrat" font-weight="400"> </tspan><tspan y="0" fill="#fff" font-family="Montserrat-Regular, Montserrat" font-weight="400">rhymecode</tspan></text>
                </svg> -->

                <img src="./images/burger.svg" alt="hamburger button" class="hamburger hide-desktop">

                <nav class="hide-mobile">
                    <div class="navigation">
                        <ul class="nav-items">
                            <li><a href="#">Home</a></li>
                            <li><a class="services-link" href="javascript:;">Services</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>

            </div>

        </div>

        <div class="menu hide hide-desktop">
            <div>
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
            </div>
        </div>

    </header>