<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rhymecode</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>

        <div class="container">

            <div class="nav-wrapper">

                <img src="./Images/logo.svg" alt="rhymecode logo" class="logo">

                <img src="./Images/burger.svg" alt="hamburger button" class="hamburger hide-desktop">

                <nav class="navigation hide-mobile">

                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    
                </nav>

            </div>

        </div>

    </header>