<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rhymecode</title>
    <link rel="stylesheet" href="css/dist/style.css">
</head>
<body>

    <header>

        <div class="container">

            <div class="nav-wrapper">

                <a href="/">
                    <img class="logo" src="./images/logo.svg" alt="logo">
                </a>

                <img src="./images/burger.svg" alt="hamburger button" class="hamburger hide-desktop">

                <nav class="hide-mobile">
                    <div class="navigation">
                        <ul class="nav-items">
                            <li><a href="#">Home</a></li>
                            <li><a class="services-link" href="javascript:;">Services</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>

            </div>

        </div>

        <div class="menu hide hide-desktop">
            <div>
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
            </div>
        </div>

    </header>