<%- include("./partials/header") %>

<section class="generic-hero-section">
    
    <div class="container">

        <div class="generic-hero-container">

            <h2>
                About Us
            </h2>
    
        </div>

    </div>

</section>

<section class="generic-section">
    
    <div class="container">

        <div class="about-wrapper">

            <div class="portfolio-item">
                <div class="portfolio-left">
                    <h1 class="portfolio-title">Amazon Clone: <a href="https://clone-91b92.web.app/">Preview</a></h1>
                    <ul class="portfolio-list">
                        <li>Demonstrates React functional programming, hooks, context</li>
                        <li>Demonstrates Firebase Authentication and hosting Frameworks</li>
                        <li>React, Firebase</li>
                        <li>Languages used: HTML, CSS & JavaScript</li>
                        <li>Built for desktop</li>
                    </ul>
                </div>
                <div class="portfolio-right">
                    <img src="./images/ss1.png" alt="" class="portfolio-img">
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-left">
                    <h1 class="portfolio-title">YelpCamp: <a href="https://morning-journey-76206.herokuapp.com/">Preview</a></h1>
                    <ul class="portfolio-list">
                        <li>Demonstrates backend functionalities</li>
                        <li>Demonstrates: REST, CRUD, Authentication, Authorization</li>
                        <li>Demonstrates commenting system</li>
                        <li>Built on NodeJS development platform</li>
                        <li>Languages used: JavaScript, HTML, CSS & EJS</li>
                        <li>Frameworks & Libraries used: Express, Mongoose, PassportJS & Bootstrap</li>
                    </ul>
                </div>
                <div class="portfolio-right">
                    <img src="./images/ss2.png" alt="" class="portfolio-img">
                </div>
            </div>

            <div class="portfolio-item">
                <div class="portfolio-left">
                    <h1 class="portfolio-title">iOS Download Manager: <a href="https://www.youtube.com/watch?v=88gBEArvhiM&feature=youtu.be">Preview</a></h1>
                    <ul class="portfolio-list">
                        <li>Made to demonstrate networking on iOS and built on XCode</li>
                        <li>Styles used: MVC, Singleton, Delegation</li>
                        <li>Languages used: Swift</li>
                        <li>Frameworks & Libraries: Foundation, FileManager, Session, UITableView, WKWebView, Notifications</li>
                    </ul>
                </div>
                <div class="portfolio-right">
                    <img src="./images/ss3.png" alt="" class="portfolio-img">
                </div>
            </div>

        </div>

    </div>

</section>

<%- include("./partials/footer") %>