<%- include("./partials/header") %>

<section class="generic-hero-section">
    
    <div class="container">

        <div class="generic-hero-container">

            <h2>
                About Us
            </h2>
    
        </div>

    </div>

</section>

<section class="generic-section">
    
    <div class="container">

        <div class="about-wrapper">

            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-e0ddf1a6-1a4e-4aa2-aeeb-79d3ed906919.jpg?v=1600025487000" alt="certification">

            <p>
                we are certified from <a href="https://www.udemy.com/certificate/UC-e0ddf1a6-1a4e-4aa2-aeeb-79d3ed906919/?utm_medium=email&utm_campaign=email&utm_source=sendgrid.com">Udemy</a> and we are developing everyday to help you and your buisness grow.
                Udemy is trusted by big companies you can check them <a href="https://business-staging.udemy.com/case-studies/">here</a>
            </p>

        </div>

    </div>

</section>

<%- include("./partials/footer") %>