<%- include("./partials/header") %>

<div class="nav-wrapper nav-wrapper-bg-control">
    
    <div class="nav-left-side">
        <a href="/" class="brand">
            <i class="fas fa-code"></i> rhymecode
        </a>
    </div>

    <div class="nav-right-side">

        <div class="nav-link-wrapper">
            <a href="/">Home</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="/#learnMoreBanner">Services</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="/about">About</a>
        </div>

    </div>
</div>


<div class="content-wrapper">
    <div class="twobytwo-container">
        <div class="item-img-generic" style="background-image: url(./images/me.jpg);">
            
        </div>
        <div class="item-description-generic">
            <h1>Raffi Chamakian</h1>
            <p>Hey there!<br>I'm a startup web developer and today I'm thrilled we had a chance to both have the same purpose in <strong>business</strong>. <br> You would like to grow up your business? I can help you do so.<br> For us to do this we need to speak face to face as doing so will allow us to understand each other more. <br> Go to contact page to send me a message by <a href="/contact">clicking here</a></p>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>