<%- include("./partials/header") %>

<section class="generic-hero-section">
    
    <div class="container">

        <div class="generic-hero-container">

            <h2>
                Contact Us
            </h2>
    
        </div>

    </div>

</section>

<section class="generic-section">
    
    <div class="container">

        <div class="contact-wrapper">
        
            <div class="contact-description">

                <h4>
                    How Can We Help?
                </h4>
                
            </div>
    
            <div class="contact-details">
                <a href="mailto:rch.services@outlook.com">Email Us</a>
                <a href="tel:971582377071">Call Us</a>
            </div>
    
        </div>

    </div>
    

</section>

<%- include("./partials/footer") %> 