<%- include("./partials/header") %>

<section class="hero">

    <div class="container">

        <div class="hero-container">

            <img src="./images/monitor.svg" alt="macbook" class="macbook">
            <h1>Creating your Website is one Step Away</h1>
            <p class="semi-important-paragraph">We Design, Build & Optimize in Short we Create.</p>
            
            <img src="./images/scroll.svg" alt="scroll" id="scroll" class="hide-mobile">
        </div>

    </div>

</section>

<section id="informative" class="informative">

    <div class="container">

        <div class="services-container">

            <div class="service-item">
                <img src="./images/design.svg" alt="design logo">
                <p>We Design Your Website.</p>
            </div>

            <div class="service-item">
                <img src="./images/secure.svg" alt="contact logo">
                <p>We Make It Secure.</p>
            </div>

            <div class="service-item">
                <img src="./images/function.svg" alt="function logo">
                <p>We Make it Functional.</p>
            </div>

            <div class="service-item">
                <img src="./images/responsive.svg" alt="responsive logo">
                <p>We Make it Responsive.</p>
            </div>

            <div class="service-item">
                <img src="./images/buisness.svg" alt="buisness logo">
                <p>We Make It Grow Your Business.</p>
            </div>
            
            <div class="service-item">
                <img src="./images/search.svg" alt="search logo">
                <p>Find It In Search Engines Like Google.</p>
            </div>

        </div>
    </div>
</section>        

<section class="leaders">

    <div class="container">

        <div class="leaders-container">

            <img src="./images/testo-me.svg" alt="founder image">
            <div>
                <blockquote>"Specialized in Web, UI, UX and Software Design, Development."</blockquote>
                <cite>- Raffi Chamakian, Founder.</cite>
            </div>
        </div>

    </div>

</section>

<section class="contact">

    <div class="container">

        <div class="contact-container">

            <h3 class="important-heading">Grow your buisness, contact us now!</h3>
            <a href="/contact">Get Started</a>

        </div>

    </div>

</section>

<%- include("./partials/footer") %>