<%- include("./partials/header") %>

<section class="hero">
    <div class="container hero-container">
        <img src="./images/monitor.svg" alt="macbook" class="macbook">
        <div>
            <h1 class="important-heading">Creating your Website is one Step Away</h1>
            <p class="semi-important-paragraph">We Design, Build & Optimize in Short we Create.</p>
        </div>
        <img src="./images/scroll.svg" alt="scroll" id="scroll" class="hide-mobile">
    </div>
</section>

<section id="informative" class="informative">
    <div class="container">
        <div class="services-container">
        <div class="service-item">
            <img src="./images/design.svg" alt="design logo">
            <p>Design your Website However you Have Imagined.</p>
        </div>

        <div class="service-item">
            <img src="./images/responsive.svg" alt="responsive logo">
            <p>Make it Responsive on All Kind of Devices.</p>
        </div>

        <div class="service-item">
            <img src="./images/function.svg" alt="function logo">
            <p>Make it Functional.</p>
        </div>

        <div class="service-item">
            <img src="./images/buisness.svg" alt="buisness logo">
            <p>Make It Do Business For You.</p>
        </div>

        <div class="service-item">
            <img src="./images/search.svg" alt="search logo">
            <p>See It In Search Engines Like Google.</p>
        </div>
        
        <div class="service-item">
            <img src="./images/contact.svg" alt="contact logo">
            <p>Contact Us Now!</p>
        </div>
    </div>
    </div>
</section>        

<section class="leaders">
    <div class="container leaders-container">
        <img src="./images/testo-me.svg" alt="founder image">
        <div>
            <blockquote>"I’m Specialized in almost all aspects of Graphics, UI, Web, UX and Software Development."</blockquote>
            <figcaption>- Raffi Chamakian, Founder.</figcaption>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container contact-container">
        <div class="service-contact">
            <h1 class="important-heading">Contact us and start growing your buisness!</h1>
            <button>Get Started</button>
        </div>
    </div>
</section>

<%- include("./partials/footer") %>