.twobytwo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.item-img-generic {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.item-description-generic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: 400;
    color: white;
    background-color: black;
    padding: 18% 10%;
}

.item-description-generic h1 {
    color: #44bd32;
}

.item-description-generic p a {
    color: #44bd32;
}

@media all and (max-width: 1200px) {

    .item-description-generic {
        font-size: 1em;
    }
    
}

@media all and (max-width: 700px) {

    .twobytwo-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1.2fr;
    }

    .item-description-generic {
        font-size: 0.9em;
    }
}