@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap');

$color-l-purple: #7204cf;
$color-d-purple:#22015c;
$color-green: #44BD32;
$color-silver: #f0f0f0;
$color-gray: #2c2c2c;
$font-family: 'Montserrat', sans-serif;

* {
    box-sizing: border-box;
}

body {
    background: $color-d-purple;
    background: linear-gradient(30deg, $color-d-purple 0%, $color-l-purple 100%);
    font-size: 15px;
    font-family: $font-family;
    color: #fff;
    margin: 0;
    height: 100%;
}

h1, p, blockquote {
    margin: 0;
}

header {
    background-color: transparent;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: background-color ease-out .5s;
}

.menu {
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: $color-d-purple;
    transition: all ease-out .6s;
    clip-path: circle(120% at 80% -20%);
    -webkit-clip-mask: circle(120% at 80% -20%);

    div {
        margin: 80px auto auto auto;
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    a {
        display: block;
        padding-bottom: .2em;
        margin-bottom: .2em;
        font-size: 2em;
        color: white;
        text-decoration: none;
    }
}

.hide {
    clip-path: circle(100px at 80% -80%);
    -webkit-clip-mask: circle(100px at 80% -80%);
}

section, footer {
    padding: 80px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative; // to burger button

    .hamburger {
        width: 25px;
        z-index: 99;
        cursor: pointer;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.brand {
    height: 100%;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    width: 180px;
    height: 100%;
}

.nav-items {

    margin: 0;
    list-style: none;

    li {
        float: left;
    }

    a {
        border: 2px solid transparent;
        font-size: .9em;
        color: white;
        text-decoration: none;
        margin-left: 1.5em;
        padding: .1em 0;
        transition: border-color .5s;
    }
}

.hero {
    margin: 140px 0 80px 0;
    padding: 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    .macbook {
        width: 11em;
    }

    h1 {
        margin: 1em 0 0 0;
        font-size: 1.6em;
    }

    p {
        margin: 1em 0 0 0;
        font-size: .8em;
        color: rgba($color: #fff, $alpha: 0.8);
    }

    #scroll {
        position: absolute;
        width: 2.2em;
        bottom: 0;
        padding-bottom: 1em;
        cursor: pointer;
        animation: scrollAnimation ease-in-out alternate 3s infinite;
    }

    @keyframes scrollAnimation {
        from {
            transform: translateY(-10px);
        }

        to {
            transform: translateY(0px);
        }
    }
}

.informative {
    background-color: #fff;
    color: #000;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 5em;
        margin-top: 1em;
    }

    p {
        text-align: center;
        font-size: .9em;
        margin: 20px 90px;
    }
}

.leaders {
    background-color: $color-silver;
    color: #000;
}

.leaders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        width: 10em;
    }

    div {
        height: 80px;
        margin-top: 1.5em;
    }

    blockquote {
        font-size: 1.1em;
        margin: 0 30px;
    }

    cite {
        font-size: .9em;
    }
}

.contact {
    background-color: #fff;
    color: #000;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h3 {
        margin: 0;
        text-align: center;
        font-size: 1.3em;
    }

    a {
        // width: 130px;
        padding: .5em 1.2em;
        border-radius: 40px;
        background-color: $color-l-purple;
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        margin: .5em;
    }
}

footer {
    background-color: $color-gray;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-weight: lighter;
            font-size: .7em;
            margin: .3em;
        }
    }

    .nav-items {
        padding: 0;
        margin-top: 5em;

        li {
            float: none;
            margin: 1em;
        }

        a {
            margin: 0;
        }
    }
}

.generic-hero-section {
    height: 40vh;
}

.generic-hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-weight: 500;
    }
}

.generic-section {
    background-color: #fff;
    color: #000;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        height: 55vw;
        margin-bottom: 40px;
    }

    p {
        margin: 0 3vw;

        a {
            color: $color-l-purple;
        }
    }
}

.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;

    .contact-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h4 {
            font-size: 1.5em;
        }
    }

    .contact-details {

        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            width: 130px;
            padding: 8px 18px;
            border-radius: 40px;
            background-color: $color-l-purple;
            color: white;
            text-decoration: none;
            font-size: 1.1em;
            margin: .5em;
        }
    }
}

.hide-mobile {
    display: none;
}

@media only screen and (min-width: 768px) {
    
    body {
        font-size: 17px;
    }

    .hero-container {

        .macbook {
            width: 12em;
        }
        
        p {
            font-size: .9em;
        }
    }

    .services-container {

        grid-template-columns: repeat(2, 1fr);
        
        img {
            width: 5.5em;
        }

        p {
            font-size: .8em;
        }
    }

    .leaders-container {
        flex-direction: row;
        justify-content: center;
        text-align: left;
        padding: 0 0 0 4.2em;

        div {
            margin: 0;
        }

        blockquote {
            margin-right: 0;
        }

        cite {
            display: block;
            margin-top: .5em;
            margin-left: 2em;
        }
    }

    .contact-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 1.2em;
        }

        button {
            margin: 0;
            margin-left: 1.2em;
            padding: .4em 1em;
        }
    }

    .contact-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;

        .nav-items {
            margin-top: 0em;
        }
    }
}

@media only screen and (min-width: 1039px) {

    .hide-mobile {
        display: inline-block;
    }

    .hide-desktop {
        display: none;
    }

    body {
        font-size: 18px;
    }

    .logo {
        width: 200px;
    }

    .nav-items {

        a:hover {
            border-bottom: 2px solid $color-green;
        }
    }

    .hero {
        height: 100vh;
        margin: 0;
    }

    .hero-container {
        margin: 0;
        height: 100vh;

        .macbook {
            width: 13em;
        }

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }

    .services-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-wrapper {

        img {
            height: 25vw;
        }
    
        p {
            margin: 0 10vw;
        }
    }

    .leaders-container {
        padding: 0;
    }
}