@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: #7204cf;
    background: linear-gradient(#7204cf 0%, #22015c 100%);
    margin: 0;
    height: 100%;
    color: white;
}

header {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color .5s;
    z-index: 100;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 0px 0 20px 30px;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
}

.container {
    width: 84%;
    padding: 0 8%;
    text-align: center;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.hamburger {
    width: 28px;
}

.hide-mobile {
    display: none;
}

.hide-desktop {
    display: inline-block;
}

.hero {
    height: 80vh;
}

.hero-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.macbook {
    min-width: 20%;
    max-width: 40%;
}

.hero-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.important-heading {
    font-size: 1.3em;
    margin-top: 2em;
    margin-bottom: .2em;
}

.hero-container p {
    margin: 0;
    font-size: .7em;
    color:rgba(239, 239, 239, 0.8);
}

#scroll {
    margin-top: 4em;
    min-width: 3%;
    max-width: 3.5%;
    cursor: pointer;
}

.informative {
    background-color: white;
    color: black;
}

.services-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5%;
}

.service-item {
    height: 130px;
    padding-top: 10%;
}

.service-item img {
    height: 60%;
}

.service-item p {
    font-size: .7em;
    width: 40%;
    padding: 0 30%;
}

.leaders {
    background: #f0f0f0;
    color: black;
    height: 50vh;
    padding: 10% 0;
}

.leaders-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaders-container img {
    height: 50%;
}

.leaders-container div blockquote, .leaders-container div figcaption {
    margin: 0;
    margin-top: 5%;
    font-size: .9em;
    padding: 0 20%;
    text-align: center;
}

.leaders-container div figcaption {
    font-style: italic;
    margin-top: 4%;
    font-size: .75em;
    color: rgba(0, 0, 0, 0.7);
}

.contact {
    height: 40vh;
    background-color: white;
    color: black;
    padding: 5% 0;
}

.contact-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container h1 {
    margin: 0;
    font-size: 1.2em;
}

.contact-container button {
    border: none;
    color: white;
    border-radius: 100px;
    background-color: #44BD32;
    font-size: 1.2em;
    font-weight: bold;
    padding: 3% 10%;
    margin-top: 5%;
    outline: none;
}

.footer {
    padding: 20% 0;
    background-color: #2C2C2C;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-container div p {
    color: #f0f0f0;
    font-size: .7em;
}

@media only screen and (min-width: 768px) {

    .hero {
        height: 80vh;
    }

    .important-heading {
        font-size: 1.7em;
    }

    .hero-container p {
        font-size: 1.1em;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 10%;
    }

    .service-item {
        padding-top: 20%;
    }
    
    .leaders {
        padding: 5% 0;
    }

    .leaders-container div blockquote, .leaders-container div figcaption {
        padding: 0 27%;
    }

    .leaders-container div figcaption {
        margin-top: 2%;
    }

    .contact {
        height: 30vh;
    }

    .contact-container button {
        padding: 3.5% 11%;
    }

    .footer {
        padding: 5% 0;
    }
}

@media only screen and (min-width: 1039px) {

    .hide-mobile {
        display: inline-block;
    }

    .hide-desktop {
        display: none;
    }

    .hero {
        height: 100vh;
    }

    .important-heading {
        font-size: 2.3em;
    }

    .hero-container p {
        font-size: 1.3em;
    }

    .services-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .leaders-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .leaders {
        padding: 0;
    }

    .leaders-container div blockquote, .leaders-container div figcaption {
        margin: 0;
        padding: 0 5%;
        text-align: start;
    }

    .leaders-container div figcaption {
        margin-top: 1%;
    }

    .contact {
        height: 40vh;
        padding: 2% 0;
    }

    .contact-container h1 {
        font-size: 1.4em;
    }

    .contact-container button {
        padding: 3% 10%;
    }

    .footer {
        padding: 5% 0;
    }

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-container li {
        float: none;
        padding-bottom: 0;
        font-size: .8em;
    }
}